{% extends 'base.html' %}
{% block head %}
  
{% endblock %}
{% block content %}
<div class="container">
  <div>
    <h2>Watermelon Markets - Seller Survey</h2>
    <div style="margin-top: 30px">
      <div>
        Step {{ data.step }} of {{ data.step_count }}
        </div>
      </div>

         <!-- Form elements -->
      <form id="seller-form" method="post" action="{% url 'seller_wizard_view' %}">
        {% csrf_token %}
        <input type="hidden" class="form-control" id="survey_id" name="survey_id" value="{{data.survey_id}}"/>
        <!-- Step 1 -->
        {% if data.step == 1 %}
        <div class="form-group">
          <label for="store_name">What is the name of your store?</label>
          <span>Example: Razer Gold, Amazon, Target. (If you have multiple stores, choose your top gift card -- you can always add more later.)</span>
          <input type="text" class="form-control" id="store_name" name="store_name" value="{{ form.store_name }}" />
        </div>
        {% endif %}
        <!-- Step 2 -->
        {% if data.step == 2 %}
        <div class="form-group">
          <label for="gift_card_balance">What is the balance left on your gift card?</label>
          <span>What is the balance left on your gift card? If possible, please double check your balance before entering the number here</span>
          <input type="number" max="1000" class="form-control" id="gift_card_balance" name="gift_card_balance" value="{{ form.gift_card_balance }}" />
        </div>
        {% endif %}
        <!-- Step 3 -->
        {% if data.step == 3 %}
        <div class="form-group">
          <label for="selling_price">What price are you selling at?</label>
          <span>Example Answer: $70. Please remember a low prices generally results in a faster and more successful sale, and we recommend a substantial discount</span>
          <input type="number" max="1000" class="form-control" id="selling_price" name="selling_price" value="{{ form.selling_price }}" />
        </div>
        {% endif %}
        <!-- Step 4 -->
      {% if data.step == 4 %}
      <div class="form-group">
        <label for="funds_network">Which network would you like to receive funds at?</label>
        <span>If you are unsure, please select Polygon. (You may change this later.)</span>
        <select style="width: 150px" class="form-control" name="funds_network" id="funds_network">
          <option value="Polygon" {% if form.funds_network == 'Polygon' %} selected{% endif %}>Polygon</option>
          <option value="Ethereum" {% if form.funds_network == 'Ethereum' %} selected{% endif %}>Ethereum</option>
      </select>
      </div>
      {% endif %}
        <!-- Step 5 -->
        {% if data.step == 5 %}
        <div class="form-group">
          <label for="funds_address">What Polygon or Ethereum address would you like to receive funds at?</label>
          <span>You may change this later. Example: 0xfA63Ca5caF1D88f42e1A73aE0E0cb7060B9E7292</span>
          <input type="text" class="form-control" id="funds_address" name="funds_address" value="{{ form.funds_address }}" />
        </div>
        {% endif %}
        <!-- Step 6 -->
      {% if data.step == 6 %}
      <div class="form-group">
        <label for="email">Almost done! What is your email address?</label>
        <span>We will only use this to reach out about the transaction. Please check this often as we'll use this as the main way of getting in touch.</span>
        <input type="email" class="form-control" id="email" name="email" value="{{ form.email }}" />
      </div>
      {% endif %}
        <!-- Hidden input field to keep track of current step -->
        <input type="hidden" name="step" value="{{ data.step }}">
        <!-- Previous and Next buttons -->
        <div class="form-group">
          {% if data.step > 1 %}
          <input type="submit" name="direction" value="PREV" class="btn btn-secondary" />
          {% endif %}
          {% if data.step < data.step_count %}
          <input type="submit" name="direction" value="NEXT" class="btn btn-primary" />
          {% else %}
          <button type="submit" name="submit" value="submit" class="btn btn-success">Submit</button>
          {% endif %}
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
